body{
    background-color: #ea4e66;
    font-family: "tt-commons-pro", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
    color: white;
    height:100vh;
    overflow-y: hidden;
}
.content{
    width: 95%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    height: 100%;
    position:relative;
}
.centered-three-quarters{
    width: 90%;
    margin:auto;
}
.description{
    font-size: 1.1em;
    width: 90%;
    margin:auto;
    text-align: justify;
}
.mouth{
    margin: auto;
    width: 25%;
}
.bottom-tallies{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin:auto;
    position: relative;
}
.counter, .percentage{
    margin:auto;
    width: 90%;
    text-align: center;
}
.counter-to-be-updated, .percentage-to-be-updated{
    font-size: 2em;
}

.button{
    margin:auto;
    width: 20%;
    cursor: pointer;
    position:relative;
}

.overall-flex{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    height:95%;
}
.sparkles{
    width: 15%;
    height:100%;
    display:flex;
    flex-direction: column;
    position: relative;
}

.sparkle-no{
    width:100%;
    height:20%;
}
.a-sparkle{
    width:100%;
}
.show-when-pressed{
    display:none;
}
.buttons{
    display:flex;
    justify-content: center;
}

footer{
    height:5%;
    margin-bottom:0;
    bottom:0;
    display:flex;
    justify-content: end;
}
.generated{
    cursor: pointer; 
}
.generated:hover{
    color:#f7b8c2;
}
.back{
    cursor: pointer;
}
.formatted-text {
  white-space: pre-wrap;   /* preserves line breaks but wraps text */
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  font-size: 1rem;
}
a{
    all:unset;
}
button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

pre {
  margin-top: 20px;
  white-space: pre-wrap;
}
